#id-card {
  display: flex;
  height: auto;
  border: solid 1px black;
  padding: 4px;
  margin-bottom: 4px;
}

.avatar {
  height: 128px;
  width: 128px;
}

.infos p {
  margin: 0 0 0 8px;
  text-align: left;
}

.infos span {
  font-weight: bold;
}