* {
  margin-left: 50px;
  margin-top: 10px;
}

.card{
  display: flex;
  border: solid 1px;
  padding:10px
}
.card-image{
  height: 230px;
}
.media-content{
  padding-left: 15px;
}
.CCard img{
  height: 13px;
  float: right;
  
}
.CCard div{
  font-weight: bold;
  margin-left:15px ;
}